{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<p class="alert alert-info">
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>    <a href="/login" class="small" style="color: #ffffff;">retour</a>

{% endblock %}
