{% extends 'base.html.twig' %}

{% block title %}New Relationship{% endblock %}

{% block body %}
    <h1>Create new Relationship</h1>

    {{ include('relationship/_form.html.twig') }}

    <a href="{{ path('relationship_index') }}">back to list</a>
{% endblock %}
